$font-family-text:    Helvetica, sans-serif;
$primary-color: #333;



.RoomPic {
	margin-top: 100px;
	
	height: 450px;
	width: 450px;
	border-radius: 3px;
	

}
.RoomDetail {
	height:450px;
	width:450px;
}