
$font-family-text:    Helvetica, sans-serif;
$primary-color: #333;


.RoomPic {
	margin-top: 150px;
	
	height: 550px;
	width: 750px;
	border-radius: 3px;
	

}
.RoomDetail {
	height:400px;
	width:700px;
}

.login {
	margin-top: 100px;
}

.calendar {
	margin-top: 100px;
}

.payment_form {
	margin-top: 100px;
}

.nav {
	background-color: #00087f;
	height: 80px;
}

.login {
	
	margin: 200px;
}
.payment {
	
	margin:200px;
}

.selectRoom {
	margin-top: 120px;
}

.head {
	margin-top: 120px;
}

.img-responsive {
	margin: 100px;
	width: 1000px;
	height: 150px;
}

.resList {
	margin-top: 300px;
}



