
<div id = 'myCarousel' class='carousel slide' data-ride='carousel'>
    <ol class ="carousel-indicators">
        <li data-target = "#myCarousel" data-slide-to ="0" class = "active"></li> 
        <li data-target = "#myCarousel" data-slide-to ="1" ></li> 
        <li data-target = "#myCarousel" data-slide-to ="2"></li> 
        <li data-target = "#myCarousel" data-slide-to ="3"></li> 
        <!-- <li data-target = "#myCarousel" data-slide-to ="4"></li>  -->
    </ol>

    <div class ="carousel-inner" role="listbox">
        <div class = "item active">
            <img src ="css/images/blue-hotel4.jpg"  alt = 'hotel' class="imgHome" >
            <div class="carousel-caption">
                <p class="homeP">Your Suite Home Away from Home</p>     <p class="homeP2">Log in/Register to Checkout the Availability</p>
                <h3>Hotel Lounge</h3>
            </div>
        </div>
        
       
        <div class = "item ">
            <img src = 'css/images/hotel_room2.jpg' alt = 'hotel' class="second-slide imgHome">
            <div class="carousel-caption">
                <h3>View From Your Room</h3>
            </div>
        </div>
        <div class = "item ">
            <img src = 'css/images/hotel_room3.jpg' alt = 'hotel' class="third-slide imgHome">
            <div class="carousel-caption">
                <h3>View From Your Room</h3>
            </div>
        </div>
        <!-- <div class = "item">
            <img src ="css/images/hotel_room4.jpg" alt = 'hotel' class= 'imgHome'>
            <div class="carousel-caption">
                <h5>Room</h5>
            </div>
         </div> -->
         
         <div class = "item">
            <img src ="css/images/hotel_room_pic.jpg" alt = 'hotel' class="forth-slide imgHome" >
            <div class="carousel-caption">
                <h3>Your Room</h3>
            </div>
         </div>
         <a class ="left carousel-control" href = "#myCarousel" role=button data-slide = 'prev'>
            <span class = "glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class ="right carousel-control" href = "#myCarousel" role=button data-slide = 'next'>
            <span class = "glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
       
     
     
</div>
</div>


 

    
