<nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" href="#!/reserve/">reserve</span>
        <span class="icon-bar" href="#!/register/">Login</span>
        <span class="icon-bar" href="#!/login/">Register</span>
      </button>
      
      <a class="navbar-brand" href="#!/reserve/"></a>
      <a class="navbar-brand" href="#!/reserve/">Reserve</a>
      <a class="navbar-brand" href="#!/login/">Login</a>
      <a class="navbar-brand" href="#!/register/">Register</a>
      <a class="navbar-brand" href="#!/logout/">Logout</a>
    </div>
  </div>
</nav>


