<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top navbar navbar-inverse nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" href="#!/reserve/"></span>
          <span class="icon-bar" href="#!/register/"></span>
          <span class="icon-bar" href="#!/login/"></span>
        </button>
    </div> 
    <div class="navbar-collapse collapse">
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
             <li> <a class="navbar-brand" href="#!/my_reservation">My Reservation</a></li>
              <li><a class="navbar-brand" href="#!/reserve/">Reserve</a></li>
              <li><a class="navbar-brand" href="#!/login/">Login</a></li>
              <li><a class="navbar-brand" href="#!/register/">Register</a></li>
              <li><a class="navbar-brand" href="#!/logout/">Logout</a></li>
            </ul>
          </div>
      </div>
    </div>
</div>



