<div class="text-center container container-fluid">
  <div class="head">


  <div class="form-group">
    <h2 class="heading">Details</h2>
    <div class="grid">
    <div class="col-1-4 col-1-4-sm">
      <div class="controls">
        <input type="date" id="arrive" class="floatLabel" name="arrive" value="<?php echo date('Y-m-d'); ?>" ng-model='getDates.check_in_date'>
        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Arrive</label>
      </div>      
    </div>
    <div class="col-1-4 col-1-4-sm">
      <div class="controls">
        <input type="date" id="depart" class="floatLabel" name="depart" value="<?php echo date('Y-m-d'); ?>" ng-model='getDates.check_out_date'/>
        <label for="depart" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Depart</label>
      </div>      
    </div>
  </div>

  <!-- <form name="myForm" flex-gt-xs>
    <div layout-gt-xs="row pickDatesContainer">
      <div flex-gt-xs="">
        <span> <h4 class="pickDates title required">When would you like to check in?</h4></span>
        
        <md-datepicker name="dateField" ng-model="getDates.check_in_date" md-placeholder="Check_In_Date" class="checkInDate" md-min-date="minStartDate" ng-required="true"></md-datepicker>
        <md-datepicker name="dateField" ng-model="getDates.check_out_date" md-placeholder="Check_Out_Date" class="pickDates" md-min-date="minEndDate" ng-click="setDates()" ng-required="true"></md-datepicker>
        <div class="validation-messages" ng-messages="myForm.dateField.$error">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">Both dates are required!</div>
          <div ng-message="mindate">Minimum Stay required</div>
        </div>
      </div>
    </div>
  </form> -->
    <!-- <form name='form' ng-submit=submit()>
   
      <input type="text" class="checkin"  ng-model="reservation.check_in_date" id="check_in_date" placeholder="Check_In_Date" ng-required='true'>
      <input type="text" class="checkout"  ng-model="reservation.check_out_date" id="check_out_date" placeholder="Check_Out_Date" ng-required='true'>
    </form>
    -->
      <div class="selectRoom">

        <select>
          <option value="room.pk" ng-repeat="room in  rooms"  ng-model="reservation.room">((room.name)) $((room.price))   per night
          </option>
        </select>
      </div>
    
    <form>
      <article class="col-md-12 box " ng-repeat="room in  rooms"> 
          
            
            <img class="RoomPic" ng-src='((room.image))'>
            <strong><p>((room.name))</p></strong> 

            
          <button class="submitBtn"><a ng-href= "/#!/payment_type/" class="submitBtn" ng-click="addNewPaymentType()">Make a reservation</a>
          </button>
      </article> 
    
    </form>
  </div>
</div>

 <!-- <carousel interval="myInterval">
  <slide ng-repeat="room in rooms" active="rooms.active">
    <div class="" style="width:600px;margin:auto;">
    <div >
    <img ng-src="((room.image)))" width="200px" style="float:left;">
    </div>
    <div >
    <img ng-src="((room[getSecondIndex($index+1)].image))" width="200px" style="float:left;" >
    </div>
     <div >
    <img ng-src="((room[getSecondIndex($index+2)].image))" width="200px" style="float:left;" >
    </div>
    </div>
  </slide>
</carousel>
 -->
