<div class="text-center container container-fluid">
  <div class="head">
    
      
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-3" ng-model="reservation.room"><a ng-href="#!/reservation/((reservation.id))">Room: ((reservation.room))</a></div>
            <div class="col-xs-2" ng-model="reservation.check_in_date">Check in: ((reservation.check_in_date))</div>
            <div class="col-xs-2" ng-model="reservation.check_out_date">Check out: ((reservation.check_out_date))</div>
            <div class="col-xs-3">Payment: ((reservation.payment_type))</div>
            <div class="col-xs-3">Guest: ((reservation.guest))</div>

            
          </div>
        </div>
      </div>
     
  </div>
