<div class="text-center container container-fluid">
  <div class="head">
    
      <article >
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-3">Room: ((rooms.name))</div>
            <div class="col-xs-3" >Price: ((rooms.price))</div>
            <div class="col-xs-2">Check in: ((reservations.check_in_date))</div>
            <div class="col-xs-2">Check out: ((reservations.check_out_date))</div>
            <div class="col-xs-3">Payment: ((reservations.payment))</div>
            

            
          </div>
        </div>
      </article>
      </div>
     
  </div>
