<div class="container-fluid">
  <div class="row">
		<article class="col-md-6" ng-repeat='room in rooms'>
		
			<img  class="RoomPic" ng-src='((room.image))'>
		
		<div class="RoomDetail">	
			<strong><p id ="name">((room.name))</p></strong><br>
			<span>Size: ((room.size))</span><br>
			<span>Desciption:((room.description))</span><br><br>
			<span>Amenity:((room.amenity))</span><br>
			<span>Price:((room.price))</span><br>
			<button class="reserveBtn"><a ng-href= "/#!/reserve/" ng-click="reserve()">Check the availability</a></button>
		</div>
	</article>
		
 </div>
</div>
