<h1>Hello!</h1>
<div class="container-fluid">
  <div class="row">
		<article class="col-xs-6 col-md-4" ng-repeat='room in rooms'>
		<div>
			<img class="RoomPic" ng-src='((room.image))'>
		</div>
		<div class="RoomDetail">	
		<strong><p id ="name">((room.name))</p></strong><br>
		<span>Size: ((room.size))</span><br>
		<span>Desciption:((room.description))</span><br><br>
		<span>Amenity:((room.amenity))</span><br><br>
		<span>Price:((room.price))</span><br><br><br>
		<button class="reserveBtn"><a ng-href= "/#!/reserve/" class="reserveBtn" ng-click="reserve()">Reserve</a></button>

		</div>




		</article>
		
  </div>
</div>
