<div class="container-fluid">
  <div class="row">
  	<div  ng-model='room'>
			<div class="panel panel-default RoomDetailPicCard"
				 >
				<div class="panel-body" >
				<img  class="col-md-6 RoomDetailPic" ng-src='((room.image))'>
		
				<div class="col-md-6 detailRoom" ng-model='room'>	
				<strong><p id ="name">((room.name))</p></strong><br>
				<span>Size: ((room.size))</span><br>
				<span>Desciption:((room.description))</span><br><br>
				<span>Amenity:((room.amenity))</span><br>
				<span>Price:((room.price))</span><br>
				
			</div>
 		</div>
		</div>
	</div>
	</div>	
</div>
